@using SimpleStore.Web.Areas.Store.ViewModels.Checkout
@model CheckoutViewModel
@{
	ViewData["Title"] = "Finalização da compra";
	var selectedAddress = Model.CustomerAddresses.FirstOrDefault(x => x.IsShippingAddress);
}

<div class="row">
    <div class="col">
        <div class="page-panel p-2 p-lg-3">
			<h3>Finalização da compra</h3>

			@await Html.PartialAsync("_CartSummary", Model.Cart)

			<div class="row">
				<div class="col">
					<a href="/Checkout/ShippingAddress">
						<h5 class="checkout-title-checked"><span class="iconify me-2" data-icon="mdi:check" width="22" height="22"></span>
							Endereço para entrega
						</h5>
					</a>
					<div class="panel bg-light">
						<p>Endereço selecionado:</p>
						<p class="panel bg-white">
							@if (selectedAddress != null)
							{
								<text>
									<strong>@selectedAddress.Responsible</strong><br />
									@selectedAddress.ZipCode, @selectedAddress.Address, @selectedAddress.Number<br />
								</text>
									
									
								if (!string.IsNullOrWhiteSpace(selectedAddress.Complement))
								{
									@selectedAddress.Complement <br />
								}

								<text>
									@selectedAddress.Neighborhood, @selectedAddress.City - @selectedAddress.State<br />
								</text>
							}
							else
							{
								<text>Nenhum endereço selecionado.</text>
							}
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h5 class="checkout-title">Forma de envio</h5>
					<form id="shipping-method-form" asp-controller="Checkout" asp-action="ShippingMethod" method="post">
						<div class="panel bg-light">
							<p>Selecione um método de envio:</p>
							@if (Model.Cart.ShippingOptions != null && Model.Cart.ShippingOptions.Count > 0)
							{
								foreach (var option in Model.Cart.ShippingOptions)	
								{
									<div class="form-check panel bg-white mt-2 d-flex align-items-center">
										<input type="radio" name="ShippingOption" value="@option.Id" id="option-@option.Id" checked="@option.Selected">
										<label class="form-check-label ms-2" for="option-@option.Id">
											@option.Name<br /> @option.ValueString
										</label>
									</div>
								}
							}
							else
							{
								<div class="form-check panel bg-white mt-2 d-flex align-items-center">
									<p class="m-0">
										<span class="text-danger">Não há fretes disponíveis no momento.</span><br/>
										<small class="text-muted">O frete deverá ser combinado com o vendedor quando finalizar a compra.</small>
									</p>
								</div>
							}
						</div>
						<button class="btn btn-primary text-white mt-2 float-end">Próxima etapa</button>
						<a href="/Checkout/ShippingAddress" class="btn btn-light mt-2 me-2 float-end">Voltar</a>
					</form>
				</div>
			</div>

			@*<div class="row">
				<div class="col">
					<h5 class="checkout-title-disabled">Forma de Pagamento</h5>
				</div>
			</div>*@

			<div class="row">
				<div class="col">
					<h5 class="checkout-title-disabled">Confirmação e Pagamento</h5>
				</div>
			</div>
        </div>
    </div>
</div>